@use '../../../styles/theme-colors' as colors;

.back-arrow {
    height: 32px;
    width: 32px;
    font-size: 32px;
    color: colors.$primary-color !important;

}


.back-txt {
    font-size: 28px;
    color: colors.$primary-color !important;

}
